version: '3.9'

services:

  frontend:
    image: nginx:1.23-alpine
    container_name: frontend
    ports:
      - "8080:80"
    volumes:
      - ./site:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - internal

  backend:
    image: php:7.4-fpm
    container_name: backend
    volumes:
      - ./site:/var/www/html
    command: bash -c "docker-php-ext-install mysqli && php-fpm"
    networks:
      - internal

  database:
    image: mariadb:10.5
    container_name: database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - internal

networks:
  internal:
    driver: bridge
